.theme-indigo {
  --radius: 0.625rem;
  --background: var(--color-indigo-50);
  --foreground: var(--color-indigo-950);
  --card: var(--color-indigo-50);
  --card-foreground: var(--color-indigo-950);
  --popover: var(--color-indigo-50);
  --popover-foreground: var(--color-indigo-950);
  --primary: var(--color-indigo-600);
  --primary-foreground: var(--color-indigo-50);
  --secondary: var(--color-indigo-200);
  --secondary-foreground: var(--color-indigo-600);
  --muted: var(--color-indigo-200);
  --muted-foreground: var(--color-indigo-400);
  --accent: var(--color-indigo-200);
  --accent-foreground: var(--color-indigo-600);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--color-indigo-200);
  --input: var(--color-indigo-200);
  --ring: var(--color-indigo-400);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: var(--color-indigo-100);
  --sidebar-foreground: var(--color-indigo-950);
  --sidebar-primary: var(--color-indigo-600);
  --sidebar-primary-foreground: var(--color-indigo-50);
  --sidebar-accent: var(--color-indigo-200);
  --sidebar-accent-foreground: var(--color-indigo-600);
  --sidebar-border: var(--color-indigo-200);
  --sidebar-ring: var(--color-indigo-500);

  @variant dark {
    --background: var(--color-indigo-950);
    --foreground: var(--color-indigo-50);
    --card: var(--color-indigo-900);
    --card-foreground: var(--color-indigo-50);
    --popover: var(--color-indigo-900);
    --popover-foreground: var(--color-indigo-50);
    --primary: var(--color-indigo-50);
    --primary-foreground: var(--color-indigo-900);
    --secondary: var(--color-indigo-700);
    --secondary-foreground: var(--color-indigo-50);
    --muted: var(--color-indigo-700);
    --muted-foreground: var(--color-indigo-300);
    --accent: var(--color-indigo-700);
    --accent-foreground: var(--color-indigo-50);
    --destructive: oklch(0.704 0.191 22.216);
    --border: var(--color-indigo-900);
    --input: var(--color-indigo-900);
    --ring: var(--color-indigo-600);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: var(--color-indigo-900);
    --sidebar-foreground: var(--color-indigo-50);
    --sidebar-primary: var(--color-indigo-700);
    --sidebar-primary-foreground: var(--color-indigo-50);
    --sidebar-accent: var(--color-indigo-700);
    --sidebar-accent-foreground: var(--color-indigo-50);
    --sidebar-border: var(--color-indigo-500);
    --sidebar-ring: var(--color-indigo-600);
  }
}

.theme-lime {
  --background: var(--color-lime-50);
  --foreground: var(--color-lime-950);
  --card: var(--color-lime-50);
  --card-foreground: var(--color-lime-950);
  --popover: var(--color-lime-50);
  --popover-foreground: var(--color-lime-950);
  --primary: var(--color-lime-600);
  --primary-foreground: var(--color-lime-100);
  --secondary: var(--color-lime-200);
  --secondary-foreground: var(--color-lime-600);
  --muted: var(--color-lime-200);
  --muted-foreground: var(--color-lime-700);
  --accent: var(--color-lime-200);
  --accent-foreground: var(--color-lime-600);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: var(--color-lime-100);
  --sidebar-foreground: var(--color-lime-950);
  --sidebar-primary: var(--color-lime-600);
  --sidebar-primary-foreground: var(--color-lime-100);
  --sidebar-accent: var(--color-lime-300);
  --sidebar-accent-foreground: var(--color-lime-950);
  --sidebar-border: var(--color-lime-500);
  --sidebar-ring: var(--color-lime-500);

  @variant dark {
    --background: var(--color-lime-900);
    --foreground: var(--color-lime-50);
    --card: var(--color-lime-800);
    --card-foreground: var(--color-lime-50);
    --popover: var(--color-lime-800);
    --popover-foreground: var(--color-lime-50);
    --primary: var(--color-lime-50);
    --primary-foreground: var(--color-lime-800);
    --secondary: var(--color-lime-700);
    --secondary-foreground: var(--color-lime-50);
    --muted: var(--color-lime-700);
    --muted-foreground: var(--color-lime-600);
    --accent: var(--color-lime-700);
    --accent-foreground: var(--color-lime-50);
    --destructive: oklch(0.704 0.191 22.216);
    --border: var(--color-lime-800);
    --input: var(--color-lime-800);
    --ring: oklch(0.553 0.013 58.071);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: var(--color-lime-800);
    --sidebar-foreground: var(--color-lime-50);
    --sidebar-primary: var(--color-lime-600);
    --sidebar-primary-foreground: var(--color-lime-50);
    --sidebar-accent: var(--color-lime-700);
    --sidebar-accent-foreground: var(--color-lime-50);
    --sidebar-border: var(--color-lime-600);
    --sidebar-ring: var(--color-lime-600);
  }
}

.theme-slate {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);

  @variant dark {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(0.984 0.003 247.858);
    --card: oklch(0.208 0.042 265.755);
    --card-foreground: oklch(0.984 0.003 247.858);
    --popover: oklch(0.208 0.042 265.755);
    --popover-foreground: oklch(0.984 0.003 247.858);
    --primary: oklch(0.929 0.013 255.508);
    --primary-foreground: oklch(0.208 0.042 265.755);
    --secondary: oklch(0.279 0.041 260.031);
    --secondary-foreground: oklch(0.984 0.003 247.858);
    --muted: oklch(0.279 0.041 260.031);
    --muted-foreground: oklch(0.704 0.04 256.788);
    --accent: oklch(0.279 0.041 260.031);
    --accent-foreground: oklch(0.984 0.003 247.858);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.551 0.027 264.364);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.208 0.042 265.755);
    --sidebar-foreground: oklch(0.984 0.003 247.858);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.279 0.041 260.031);
    --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.551 0.027 264.364);
  }
}
